			<aside class="sidebar-left">
				<nav class="navbar navbar-inverse">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
							data-target=".collapse" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1><a class="navbar-brand" href="/admin/dashboard/"><span class="fa fa-area-chart"></span>
								Admin<span class="dashboard_text"> Dashboard</span></a></h1>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="sidebar-menu">
							<li class="treeview">
								<a href="/admin/dashboard">
									<i class="fa fa-dashboard"></i> <span>Dashboard</span>
								</a>
							</li>
							<li class="treeview">
								<a href="#">
									<i class="fa fa-laptop"></i>
									<span>Manage Products</span>
									<i class="fa fa-angle-left pull-right"></i>
								</a>
								<ul class="treeview-menu">
									<li><a href="/admin/products"><i class="fa fa-angle-right"></i> View Products </a></li>
								</ul>
							</li>
							<li class="treeview">
								<a href="#">
									<i class="fa fa-laptop"></i>
									<span>Manage Category</span>
									<i class="fa fa-angle-left pull-right"></i>
								</a>
								<ul class="treeview-menu">
									<li><a href="/admin/category"><i class="fa fa-angle-right"></i> View Category</a></li>
									<li><a href="/admin/add-category"><i class="fa fa-angle-right"></i> Add Category</a></li>
								</ul>
							</li>
							<li>
								<a href="/admin/users">
									<i class="fa fa-th"></i> <span>View Users</span>
								</a>
							</li>
							
							<li>
								<a href="/admin/orders">
									<i class="fa fa-th"></i> <span>View Orders</span>
								</a>
							</li>

							<li>
								<a href="/admin/logout">
									<i class="fa fa-th"></i> <span>Logout</span>
								</a>
							</li>
						</ul>
					</div>

				</nav>
			</aside>