<section style="text-align: center;">
    <div class="container">
        <div class="col-md-12">
            <h2>Order placed Successfully</h2>
            <a href="/order-history" class="btn btn-primary">View Orders</a>
        </div>
    </div>

</section>