<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Register</h2>
            <form action="" method="POST">
                 <div class="form-group">
                    <label for="">Name</label>
                    <input type="name" class="form-control" name="Name" placeholder="Enter Name">
                </div>
                <div class="form-group">
                    <label for="">Email Address</label>
                    <input type="email" class="form-control" name="Email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                <input type="password" name="Password" class="form-control" placeholder="Enter Password">
                </div>
              <a href="/login">Already have an account?</a>
                <button type="submit" style="float:right;" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>