
    <section>
        <div class="container mt-5">
            <div class="row">
               {{#each products}}

                <div class="col-md-3 p-3">
                    <div class="card" style="width: 15rem; height:24rem">
                        <img style="height: 10rem;" src="/product-images/{{this._id}}.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{this.Name}}</h5>
                            <p class="card-text" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{this.Description}}</p>
                            <a href="/add-to-cart/{{this._id}}" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

    </section>
